* {
    margin: 0;
    padding-left: 2px;
    font-family: 'Poppins Medium', poppins;
}


body {
    background-color: #eee;
    width: 100%;
    min-height: calc(100vh - 120px);
    background-image: url('../img/Blackground.png.svg');
    background-size: 2669px;
    background-repeat: no-repeat;
    height: 2669px;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #474545;
    padding-left: 2px;
}

.nav-container{
    height: 50px;
    width: 325px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    left: 730px;
    top: 5px;
    padding-left:2px;
}

.nav-menu {
    height: 45px;
    position: relative;
    left: 1200px;
    padding-top: 13px;
}



.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 600px;
    display: flex;
    padding-top: 15px;
    position: relative;
    left: 700px;
}

.search-box {
    width: 80%;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: #fff;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 53.7px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #e4432d;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-box::placeholder {
    color: #a9a9a9;
    padding-left: 10px;
}

.nav-items a {
    margin-left: 25px;
    padding-top: 10px;
    padding-right: 7px;
}

.nav-items a img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 13px;
} 

.side-bar {
    background: #474545;
    backdrop-filter: blur(15px);
    width: 220px;
    height: 277.5vh;
    overflow-y: auto;
}

.side-bar .menu {
    width: 100%;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px 30px;
    line-height: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side-bar .menu .item a:hover {
    background: #e4432d;
    transition: 0.3s ease;
}

.side-bar .menu .item a i{
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background: #575454;
}

.side-bar .menu .item .sub-menu a{
    padding-left: 60px;
    font-size: 1rem;
}


.rotate{
    transform: rotate(90deg);
}

.side-logo{
    height: 150px;
    padding-left: 32px;
    padding-bottom: 40px;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.item .sub-btn {
    background-color: #e4432d;
}

/* Hero section */

.actual-product {
    left: 290px;
    position: relative;
    padding-top: 70px;
    height: 531px;
}

.h1-fear-inoculum {
    color: #fff;
    font-size: 29.5px;
    left: 849px;
    top: -480px;
    position: relative;
}

.product-desc {
    color: #fff;
    font-size: 17px;
    left: 820px;
    top: -405px;
    position: relative;
    white-space: break-spaces;
    font-weight: lighter;
}

.product-desc2 {
   display: none;
}

.artist{
    color: lightsalmon;
    font-size: 18px;
    left: 920px;
    top: -640px;
    position: relative;
}

.product-price {
    color: lightsalmon;
    font-size: 27px;
    left: 851px;
    top: -410px;
    position: relative;
}

.add-cart {
    height: 68px;
    width: 219px;
    left: 845px;
    top: -340px;
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e54e4e;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Poppins Bold', Poppins;
}

.add-cart:hover {
    background-color: grey;
    cursor:pointer;
}

.devider-line {
    width: 1567px;
    position: relative;
    left: 250px;
    top: -300px;
}

.related {
    color: #fff;
    font-size: 30px;
    left: 920px;
    top: -270px;
    position: relative;
}

.related-products {
    display: flex;
    left: 380px;
    top: -220px;
    position: relative;
}

.related1 {
    height: 193px;
    width: 193px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.related2 {
    height: 193px;
    width: 193px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 30px;
}
.related3 {
    height: 193px;
    width: 193px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 60px;
}
.related4 {
    height: 193px;
    width: 193px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 90px;
}
.related5 {
    height: 193px;
    width: 193px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 120px;
}
.related6 {
    height: 193px;
    width: 193px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 150px;
}

/* Footer */


.footer-container {
    background-color: #d1d1d1;
    padding-bottom: 4rem;
    position: relative;
    top: -260px;
    left: 260px;
    width: 1580px;
    height: 200px;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
    border-radius: 20px;
}

.footer {
    width: 1580px;
    height: 40vh;
    background-color: #d1d1d1;
    color: grey;
    display: flex;
    justify-content: start;
    margin-top: 300px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
    border-radius: 20px;
}

.footer-btn {
    display: none;
}


.footer-container h2 {
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    text-align: start;
    position: relative;
    left: 100px;
    top: 40px;
    padding-bottom: 60px;
}

.footer-email-form h2{
    margin-bottom: 2rem;
}


#footer-email {
    width: 290px;
    height:50px;
    border-radius:4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    position:relative;
    left: 520px;
    top: -190px;
}

#footer-heading {
    position: relative;
    left: 400px;
}

.footer-heading-footer-2 {
    position: relative;
    left: 520px;
    top: -90px;
}

.footer-heading-footer-3 {
    position: relative;
    left: 875px;
    top: -181px;
}



#footer-email-btn {
    width: 140px;
    height: 47px;
    padding-left: 32px;
    border-radius: 4px;
    background-color: lightsalmon;
    color: white;
    font-size: 1.3rem;
    position:relative;
    left: 525px;
    top: -187px;
}

.item .sub-btn {
    background-color: #e4432d;
}


.second-logo {
   display: none;
}

.sign-in-options {
    padding-left: 650px;
    position: relative;
    top: -10px;
    left: 30px;
}

.products-container2 a {
    text-decoration: none;
    color: #000;
}

.logo-desc {
    display: none;

}